extends layout

block content
  h1(class='title')= "Posts"
  p(class='subtitle') flashasos # ideas # debates

  div(class='container')
    div(class='row')
      //- FORM
      div(class='col-md-6')
        div(class='card')
          div(class='card-body')
            form(action='/posts/add', method='POST')
              div(class='form-group')
                input(type='text', name='title', placeholder='Titulo', class='form-control')
              div(class='form-group')
                textarea(name='description', cols='30', rows='3', placeholder='Descripción', class='form-control')
              div(class='form-group')
                textarea(name='content', cols='30', rows='10', placeholder='Contenido', class='form-control')
              div(class='form-group')
                input(type='text', name='link', placeholder='Link', class='form-control')
              button(type='submit', class='btn btn-420 btn-block')="listo!"
      //- TABLE
      div(class='col-md-6')
        table(class='table table-bordered table-hover table-420')
          thead
            tr
              th="Nº"
              th="Titulo"
              th="Descripcion"
              th="Fecha"
              th="Accion"
          tbody
            each post, index in posts
              tr
                th=index+1
                th=post.title
                th=post.description
                th=post.date
                th
                  a(href='/posts/delete/'+post._id)="delete"
                  br
                  a(href='/posts/edit/'+post._id)="edit"